"qos/ratelimit/proxy": {
    "max_rate": "100",
    "capacity": "100"
},
"github_com/devopsfaith/krakend-gologging": {
      "level": "INFO",
      "prefix": "[KRAKEND]",
      "syslog": false,
      "stdout": true
}